		{% extends "pags/base2.html" %}
{% block content %}

	<!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">


<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Receitas</h1>
	</div>


	<h2>Buscar receitas por mês</h2>
	<form action="{% url "rec_form_handler" %}" method="POST">
		{% csrf_token %}
		<div class="form-group" style="width: 20%">
                                            <label>Mês:</label>
                                            <select class="form-control" for={{form.mes}}
                                            </select>
                                        </div>
						                <div class="form-group">
                                            <label>Tipo</label>
                                            <div class="radio" style="width: 20%" for={{form.tipo}}
                                             </div>
                                        </div>
						<button type="submit" class="save btn btn-default">Buscar</button>
					</form>
                
	</form>
			
            
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Receitas
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
						<th>Descrição</th>
						<th>Criada em</th>
						<th>Valor</th>
						<th>Validada?</th>
						<th>Data de Validação</th>
						<th>Mês </th>
						<th>Ações</th>
					</tr>
                                    </thead>
                                    <tbody>
                                        {% for receita in receitas %}
				<tr>
					<td>{{receita.descricao}}</td>
					<td>{{receita.dataCriacao}}</td>
					<td>R${{receita.valor}}</td>
					{% if receita.validada %}
					<td><i class="fa fa-check-square-o fa-fw"></i></td>
					{% else %}
					<td>
						<a href = {% url "validar_receita" pk=receita.pk %}><i class="fa fa-square-o fa-fw"></i></a>
					</td>
					{% endif %}
					{% if receita.dataValidacao %}
					<td>{{receita.dataValidacao}}</td>
					{% else %}
					<td> <a href = {% url "validar_receita" pk=receita.pk %}>Validar</a> </td>
					{% endif %}
					<td>{{receita.mes}}</td>
					<td>
						<a href = {% url "apagar_receita" pk=receita.pk %}><i class="fa fa-times fa-fw"></i></a>
						<a href = {% url "editar_receita" pk=receita.pk %}><i class="fa fa-pencil fa-fw"></i></a>
					</td>
					</tr>
					{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->


	</div>
	<!-- DataTables JavaScript -->
    <script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#mytable').DataTable({
                responsive: true
        });
    });
    </script>
	
	{% endblock content %}
	
	